<div class="absolute full-xy top-0 left-0 flex-center-wrap">
	<ul>
		<li>
			<div>
				<div class="tooltip tooltip-top state-default">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">Default</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-top state-onenter">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onEnter</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-top state-onexit">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onExit</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-top state-oncomplete">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onComplete</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-top state-onswitch">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onSwitch</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-right state-default">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">Default</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-right state-onenter">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onEnter</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-right state-onexit">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onExit</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-right state-oncomplete">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onComplete</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-right state-onswitch">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onSwitch</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-left state-default">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">Default</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-left state-onenter">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onEnter</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-left state-onexit">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onExit</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-left state-oncomplete">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onComplete</label>
				</div>
			</div>
		</li>
		<li>
			<div>
				<div class="tooltip tooltip-left state-onswitch">
					<span></span>
					<div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<div></div><div></div>
						<span>This is a tip with a button.</span>
						<button class="bg-moxie">Okay</button>
					</div>
				</div>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
					<label for="checkbox-item">onSwitch</label>
				</div>
			</div>
		</li>
	</ul>
</div>