<div class="absolute full-xy top-0 left-0 flex-center-wrap">
	<ul>
		<li>
			<div>
				<button class="bg-moxie radius-2 state-default">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>Default</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="bg-moxie radius-2 state-onload">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>onLoad</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="bg-moxie radius-2 state-onenter">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>onEnter</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="bg-moxie radius-2 state-onexit">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>onExit</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="bg-moxie radius-2 state-hover">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>:hover</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="bg-moxie radius-2 state-active">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>:active</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="btn-ghost-white state-default">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>Default</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="btn-ghost-white state-onload">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>onLoad</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="btn-ghost-white state-onenter">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>onEnter</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="btn-ghost-white state-onexit">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>onExit</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="btn-ghost-white state-hover">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>:hover</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<button class="btn-ghost-white state-active">
					<span></span><span></span><span>
					</span><span></span>
					<span></span>
					<span>:active</span>
				</button>
				<div class="checkbox-container">
					<div>
						<input type="checkbox" id="checkbox-item"/>
						<span>
							<svg viewBox="0 0 32 32">
								<polyline class="check-under" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
								<polyline class="check-stroke" points="7.24 17.0305882 12.3929412 22.1835294 24.76 9.81647059"></polyline>
							</svg>
						</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>